body.container{
    padding: 3rem;
    background-color: #EFEFEF;
    max-width: 1000px;
}

body{
    background-color: #EFEFEF;
    padding: 50px;
    max-width: 100%;
}

h1{
    text-align: center;
}

.tcol{
    color: red;
}

#cnt:focus{
    outline-style: solid;
    outline-width: thin;
    outline-color: #9b4dca;
}

#cnt{
    outline-style: solid;
    outline-width: thin;
    outline-color: #606c76;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
}

.highlight{
    background-color: #3fff12;
    font-size: large;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.select{
    background-color: red;
}

#confirm {
    display: none;
    background-color:white;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 70%;
    padding: 10px;
    box-shadow: 5px 5px 18px 0px rgba(0,0,0,1);
    align-content: center;

}

